header {
  background-color: gray;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

body {
  background-color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

button {
  border-radius: 5px;
  border-width: 1px;
}

footer {
  margin-top: 150px;
}

.form-section {
  margin: 20px;
}

.submit-btn {
  width: 5rem;
  border-radius: 5px;
  border-width: 1px;
  align-self: center;
}

.map-section {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.map-div {
  display: flex;
  justify-content: center;
}

#logout-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#filter-btn {
  display: flex;
  flex-direction: column;
  height: 10px;
  width: 10rem;
  margin: 20px;
}

#map { 
  
  height: 28rem; 
  width: 22rem;
}
#map2 { 
  height: 28rem; 
  width: 22rem;
}


@media screen and (min-width: 768px) {
  header {
    padding-left: 2rem;
  }

  form {
    justify-content: center;
  }

  .form-section {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  #filter-btn {
    margin-left: 2rem;
  }

  #map {
    width: 45rem;
  }
  #map2 {
    width: 45rem;
  }
}

@media screen and (min-width: 992px) {

  .map-section {
    margin-left: 13rem;
  }

  .form-section {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  #filter-btn {
    margin-left: 5rem;
  }

  #map {
    width: 60rem;
  }
  #map2 {
    width: 60rem;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-left: 6rem;
  }

  .form-section {
    margin-left: 40rem;
    margin-right: 40rem;
  }

  #filter-btn {
    margin-left: 13rem;
  }

  #map {
    height: 35rem;
    width: 90rem;
  }
  #map2 {
    height: 35rem;
    width: 90rem;
  }
}